<!DOCTYPE html>
<html>
<head>

  <script src='lib/vue.js'></script>
  <script src='modal.js'></script>
  <script src='index.js'></script>

  <link rel="stylesheet" type="text/css" href="style.css">


</head>
<body>
  <template id='modal-template'>
    <div class='modal-wrapper' v-if='showCondition'>
      <div class='modal'>
        <h4><slot></slot></h4>
        <input  type="text" 
                name="modalInput"
                v-on:keyup.enter='buttonClicked()'
                v-model='input'>
        <br>
        <input type="submit" name="submitModal" v-on:click='buttonClicked()'>
      </div>
    </div>
  </template>

  <div id='app'>
    <h1>User: {{ userName }}</h1>

    <ul>
      <li v-for='chat in chats'
          v-bind:title='displayDate(chat.date)'
          v-bind:class="{ chat: !(chat.userName == userName), 'user-chat': chat.userName == userName }">
        {{ chat.userName }}: {{ chat.text }}
      </li>
    </ul>

    <textarea id='chat-input'
              placeholder='Type a message...'
              v-model='currentChat'></textarea>
    <button id='send-chat' v-on:click='sendChat'>Send chat</button>

    <modal  v-bind:on-submit='receiveName'
            v-bind:show-condition='checkingUsername'>
          {{ usernamePrompt }}
    </modal>
  </div>

</body>
</html>